body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins";
  font-optical-sizing: auto;
  overflow-x: hidden;

  background-color: #f0f0f0;
}

/* utilities */
.padding {
  padding: 10px 3vw;
}
