/* css */
@import url("./basics.css");
@import url("./noSelect.css");
@import url("./random-icon.css");

/* header */
header {
  box-shadow: 0px 0px 21px 2px rgba(86, 86, 86, 0.1);
}

.book-title {
  padding-top: 50px;
  font-size: 60px;
  line-height: 3.8rem;
  margin: 0;

  display: inline-block;
}

/* typewritter effect on "mystical" */
.type-writer {
  border-right: 5px rgb(0, 0, 0) solid;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  animation: typing 1.5s steps(8), cursor 1s infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
}

.poetress {
  font-size: initial;
  text-align: right;

  text-decoration: wavy underline rgb(190, 168, 248) 2px;
  text-underline-offset: 5px;
  margin-top: 40px;
}

/* writer-intro-section */
.writer-intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  text-align: center;
  font-style: italic;
}

.insta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 5px 10px;
  border-radius: 20px;

  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);

  font-size: 16px;
  cursor: pointer;
  border: 2px rgba(230, 185, 252, 0.232) solid;
}

.insta:active{
  background-color: rgba(230, 185, 252, 0.232);
}

.insta a {
  text-decoration: none;
  color: black;
}

/* collections */
.collections {
  margin-top: 20px;
  box-shadow: 0px 0px 21px 2px rgba(86, 86, 86, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-bottom: 60px;
}

.cursor-pointer{
  cursor: pointer;
}

.collections h2 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 40px 0;
  display: inline-block;
}

.collection-container {
  background-color: blanchedalmond;
  padding: 0 10px;
  border-radius: 10px;
  color: white;
  /* box-shadow: 0 0 10px 10px rgba(7, 0, 8, 0.115),inset 3px 4px 6px 2px rgba(22, 20, 22, 0.403), inset -3px -4px 6px 2px rgba(10, 0, 10, 0.403); */
  
}
.collection-container:active {
  animation-name: scaleAnimation;
  animation-duration: 1s; 
}

@keyframes scaleAnimation {
  from {
    background-size: 100%; /* Start size */
  }
  to {
    background-size: 105%; /* End size */
  }
}
.collection-container p {
  display: inline-block;
  padding: 0 10px;
  border-radius: 20px;

  background-color: rgba(193, 168, 255, 0.2);
}

.collection-1 {
    background-image: linear-gradient(
      to right,
      rgba(64, 101, 54, 0.818),
      rgba(14, 15, 14, 0.601),
      rgba(0, 0, 0, 0)
    ),
    url(/assets/images/greek_methology.png);
  background-position: right;
  background-size: cover;
}

.collection-2 {
    background-image: linear-gradient(
      to right,
      rgba(89, 74, 55, 0.929),
      rgba(14, 15, 14, 0.601),
      rgba(0, 0, 0, 0)
    ),
    url(/assets/images/seducers.png);
  background-position: right;
  background-size: cover;
}

.collection-3 {
    background-image: linear-gradient(
      to right,
      rgba(77, 2, 63, 0.671),
      rgba(25, 36, 75, 0.368),
      rgba(0, 0, 0, 0)
    ),
    url(/assets/images/jnk_harmony_.jpeg);
  background-position: right;
  background-size: cover;
}

.collection-4 {
    background-image: linear-gradient(
      to right,
      rgb(29, 104, 105),
      rgba(14, 15, 14, 0.601),
      rgba(0, 0, 0, 0)
    ),
    url(/assets/images/soulful_stanzas_.png);
  background-position: right;
  background-size: cover;
}


.random-container{
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(223, 223, 223, 0.303) -3px -3px 6px 1px inset;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  font-size: 40px;
  /* padding: 20px; */
}
